@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AddCategory;
@{
    string SaveBtnText = Model?.Id > 0 ? "Update" : "Save";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Category</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            @* <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" asp-for="Id" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>*@
            <input type="hidden" asp-for="Id" id="hdnCategoryID" />
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="email" class="form-control" asp-for="Name" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="btnSave" type="button" class="btn btn-primary">
                @SaveBtnText
            </button>
        </div>
    </div>
</div>